/* =======================
      my VARIABLES   
========================== */
:root {
   /* colors */
   --my_primary-color: #1abc9c;
   --my_secondary-color: #2c3e50;
   --my_secondary-color-light: #3a546d;
}

/* =======================
      my reset   
========================== */
ul {
   padding: 0;
   list-style: none;
   margin-bottom: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

/* =======================
      TYPOGRAPHY  
========================== */
body {
}

h1 {
   font-weight: bold;
   font-size: 2.1875rem;
}
h2 {
   font-size: 1.8rem;
}

/* =======================
      COMMONS  
========================== */
.my_star {
   margin: 1.5rem 0;
}
.my_star > i {
   font-size: 1.6rem;
}
.my_star > .rounded-3 {
   height: 3px;
   width: 4.5rem;
   background-color: currentColor;
}
/* deafault bootstrap md breakpoint */
@media screen and (min-width: 768px) {
   .my_star > .rounded-3 {
      width: 7rem;
   }
}

/* deafault bootstrap lg breakpoint */
@media screen and (min-width: 992px) {
   .my_star > .rounded-3 {
      width: 9rem;
   }
}

/* =======================
      my UTILITIES   
========================== */
.my_container {
   max-width: 26.875rem;
}

/* bootstrap default MD breakpoint */
@media screen and (min-width: 768px) {
   .my_container {
      max-width: 37.5rem;
   }
}
