footer {
   color: white;
}
/* =======================
      footer top 
========================== */

.footer-top p a {
   color: var(--my_primary-color);
}

/* =======================
      footer bottom 
========================== */
.footer-bottom {
   background-color: var(--my_secondary-color);
}
