/* =======================
      portfolio section 
========================== */
/* .my_card si trova css\components\my_card.css  */

/* =======================
      about section 
========================== */

#about {
   color: white;
   background-color: var(--my_primary-color);
}

#about .btn-outline-primary {
   color: white;
   border-color: white;
   margin-top: 2rem;
}

#about .btn-outline-primary:hover {
   background-color: var(--my_secondary-color-light);
}

/* =======================
      contact section 
========================== */
/* il form si trova a css\components\form.css */
