/* =======================
      portfolio section 
========================== */
#portfolio {
}

/* =======================
      about section 
========================== */
#about {
   color: white;
   background-color: var(--my_primary-color);
}

#about .btn-outline-primary {
   color: white;
   border-color: white;
   margin-top: 2rem;
}

#about .btn-outline-primary:hover {
   background-color: var(--my_secondary-color-light);
}

/* =======================
      contact section 
========================== */
#contact {
}
